<!-- account.html -->
{% extends "base.html" %}

{% block title %}Ваш аккаунт{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h2 class="mb-3">ВАШ АККАУНТ</h2>

        <img src="{{ url_for('static', filename='avatars/' + current_user.avatar) }}"
             class="rounded-circle mb-3"
             width="150" height="150" alt="avatar">

        <p><strong>Имя:</strong> {{ current_user.username }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>

        <p><strong>Имя:</strong> {{ current_user.username }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>

        <a href="{{ url_for('edit_profile') }}" class="btn btn-primary mt-3">
            Редактировать профиль
        </a>

    </div>







</div>
{% endblock %}
